# Answer 1

In [3]:
#importing pandas

import pandas as pd

#version of pandas

print(pd.__version__)

0.24.2

# Answer 2

In [6]:
#importing numpy and pandas
import numpy as np
import pandas as pd

#numpy array
data = np.array(['A','n','j','a','l','i'])

#creating series from numpy array
s = pd.Series(data)
print(s)

0    A
1    n
2    j
3    a
4    l
5    i
dtype: object

In [7]:
#importing numpy and pandas
import numpy as np
import pandas as pd

#numpy array
data = np.array(['A','n','j','a','l','i'])

#creating series from numpy array with user index values
s = pd.Series(data, index=[1,2,3,4,5,6])
print(s)

1    A
2    n
3    j
4    a
5    l
6    i
dtype: object

# Answer 3

In [17]:
import numpy as np
import pandas as pd

data = np.array(['A','n','j','a','l','i'])

s = pd.Series(data, index=[1,2,3,4,5,6])

df = s.to_frame().reset_index()

df

   index  0
0      1  A
1      2  n
2      3  j
3      4  a
4      5  l
5      6  i